/* pagina de ciudades */
@import "layout/mains/_ciudades";
/* pagina de ciudades */

/* pagina de ciudades */
@import "layout/mains/_formulario";
/* pagina de ciudades */

/* pagina de recomendaciones */
@import "layout/mains/recomendaciones";
/* pagina de recomendaciones */

/* Index */
@import "layout/mains/_index";
/* Index */

/* NavBar */
@import "layout/_navigation.scss";
/* NavBar */

/* Footer */
@import "layout/_footer";
/* Footer */

.centradoSeccion {
    margin: 0 auto;
      section {
        width: 50%;
      }
      div {
        width: 100%;
      }
}

.tamañoImagen {
    width: 100%;
    height: auto;
    margin: 10px;
}


/* felxbox en pagina de recomendaciones*/
.flexed {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 70vh;
    justify-content: space-evenly;
    align-items: center;
    align-content: stretch;
}

.flexImagen {
    width: 20%;
    height: auto;
}

/* Uso de BEM 1*/

.flexImagen--noOverflow {
  overflow: hidden;
}

.tamanoAlbum {
    width: 100%;
    height: auto;
}

.flexVideo {
 flex-basis: auto;
}

.flexTexto {
    width: 20%;
}

.flexPublicidad {
    width: 15%;
}

.flexPublicidad__Imagen {
    width: 100%;
}


.flexPublicidad__Texto {
  color: white;
  font-size: 16px;
}

.imagenPublicidad {
    width: 100%;
}

/*NAV con flexbox - esta fue una prueba de hacer el nav-bar con flex-box, luego me parecio más conveniente usar Boostrap por ser más facil de hacer responsive*/
/*
.headerContainer{
    background-color: #10286b;
    padding: 5px;
    display: flex;
    justify-content: space-around;
  }
  
  .miLogo{
    width: auto;
    height: 35px;
    padding: 3px;
  }
  
  .menu{
    display: flex;
    list-style: none;
    justify-content: space-between;
  }

  .menu li a{
    text-decoration: none;
    color: rgb(155, 101, 101);
    font-family: 'Rubik', sans-serif;
    margin-right: 6px;
    font-size: 60%;
    transition: 1s;
  }

  @media screen and (min-width: 600px) {
    .menu li a{
            text-decoration: none;
            color: #fff;
            margin-right: 20px;
            font-size: 100%;
          }
}

  .menu li a:hover{
    color: gray;
  }
  
  /*Indicamos que cuando se posicione sobre un elemento li, si contiene un elemento con una clase .submenu, se aplicará el display: block*/
  /*
  .menu li:hover>.submenu{
    display: block;
  }
  
  /**Damos estilos al submenu y lo ocultamos con display none**/
  /*
  .submenu{
    list-style: none;
    display: none;
    background-color: #10286b;
    position: fixed;
    display: none;
  }
  
  .submenu li{
    margin: 6px 0;
    padding: 0 15px;
  }
  
  .submenu li a:hover{
    border-bottom: 1px solid #fff;
  }
  */


  /* Grid aplicado a pagina de recomendaciones anteriores - luego migre la pagina a Boostrap pero dejo el formato de grilla como ejemplo */
  /*
  .grilla {
    display: grid;
    grid-template-columns: 35% 35% 20%;
    grid-template-rows: auto;
    justify-content: space-evenly;
    row-gap: 2vh;
    column-gap: 2%;
    grid-template-areas: 
    "discoUno discoDos aside"
    "discoTres discoCuatro aside"
    "footer footer footer";
  }
      
      footer {
          grid-area: footer;
      }
      
      #discoUno section {
          grid-area: discoUno;
      }
      
      #discoDos section {
          grid-area: discoDos;
      }

      #discoTres section {
          grid-area: discoTres;
      }

      #discoCuatro section {
          grid-area: discoCuatro;
      }
      
      aside {
          grid-area: aside;
      }
      */



    /* Uso de BEM 4*/

    .subtitulos2 {
      font-size: 1.5em;
      font-family: Verdana, sans-serif;
      color: beige;
    }

    .subtitulos2--centrado {
      text-align: center;
    }

    .espacioFooter {
      height: 10vh;
      align-items: flex-end;
    }

    .footer {
      background-color: rgb(0, 174, 255);
    }

    .footer__texto {
    color:white
    }

    .footer__texto--tipografia {
      font-family: serif;
    }

    .footer2 {
      display: flex;
      height: 10vh;
    }

    .footer2__texto {
      align-self: flex-end;
      color: white;
      font-size: 12px;
      width: 100%;
      text-align: center;
    }

    .footer2__texto--negro {
      color: black !important
    }

    .reactive {
      width: auto;
    }

    @media screen and (mix-width: 768px) {
      .reactive {
      width: 560px;
      height: 315px;
      }
    }
