@mixin tipografiaBase($fuente, $tamanio, $estilo, $color, $bold, $line) {
    font-family: $fuente;
    font-size: $tamanio;
    font-style: $estilo;
    font-weight: $bold;
    color: $color;
    line-height: $line;
}

/* Este mixin es un ejemplo para recordar como se utilizan. No estan aplicados al proyecto por ahora */