.marginBot {
    margin-bottom: 15vh;
}

.fondoNegro {
	background-color: black;
	width: 100%;
	height: 100%;
}

.titulos {
    color: #F7F4F4;
    font-size: 26px;
    text-align: center;
    padding: 0px 0px 10vh 0px;
}