.backgroundGradient {
	width: 100%;
	height: auto;
    background: rgb(63,94,251);
    background: linear-gradient(180deg, rgba(63,94,251,1) 0%, rgba(0,0,0,1) 100%);
    }

    .titulos {
        color: #F7F4F4;
        font-size: 26px;
        text-align: center;
        padding: 0px 0px 10vh 0px;
    }

    .titulos__MarginBot {
        margin: 0px 0px 2vh 0px;
    }
