.albumFondo {
	background-image: url(https://www.chismestoday.com/wp-content/uploads/2020/12/image-7.jpg) ;
	width: 100%;
	height: 100vh;
    background-size: cover;
    margin: 0px;
    }

    .titulos {
        color: #F7F4F4;
        font-size: 26px;
        text-align: center;
        padding: 0px 0px 10vh 0px;
    }

    .subtitulos {
        font-size: 26px;
        color: #FFC597;
    }