.paddingbottom {
    padding: 0px 0px 8vh 0px;
}

.fondoNegro {
	background-color: black;
	width: 100%;
	height: 100%;
}

.NoPadding {
    padding: 0px;
  }

  .margins {
      margin: 5%;
  }

  .NoStrech {
    align-items: flex-start;
    justify-content: space-around;

}

@media screen and (max-width: 768px) {
    .NoStrech {
    grid-gap: 10px;
    }
    .ResponsiveDisplayNone {
      display: none
    }
  }